/* 상품 상세 페이지 */
.productPictures {
    text-align: center;
}
  
.productPictures .big_img {
    width: 500px;
    height: 500px;
}
  
.productPictures .sub_img {
    margin-top: 20px;
    display: flex;
    width: 500px;
    justify-content: space-between;
}
  
/* 서브 이미지 사이즈 줄일 예정 - width, height 설정! 지금은 50px */
.productPictures .sub_img li {
    list-style: none;
    padding: 10px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.jumbotron h2{
    font-size: 52px;
    color: #000;
    font-weight: 800;
    margin-bottom: 30px;
    padding: 0 15px;
}
.jumbotron h3{
    color: #1a1e21;
    font-size: 18px;
    margin-bottom: 13px;
    font-weight: 600;
    padding: 0 15px;
}
.jumbotron p{
    margin-bottom: 60px;
    padding: 0 15px;
}

.productSpec strong {
    margin-right: 5px; 
    padding: 2px 3px; 
    border-radius: 3px; 
    font-weight: bolder; 
    font-style: normal; 
    font-size: 12px;  
}

.productSpec .delivary strong {
    border: 1px solid #28C76F;
    color: #28C76F;
}

.productSpec .best strong {
    border: 1px solid blue;
    color: blue;
}

.productSpec .sale strong {
    border: 1px solid red;
    color: red;
}

.productSpec .option .priceOption .price .soldOut strong{
    border: 1px solid var(--bs-red);
    background-color: var(--bs-red);
    color: white;
}

.productSpec .option .priceOption .salePrice .salePercent {
    color: red;
}

form hr {
    border: none;
    border-top: 1px solid #d3d3d3;
    margin: 30px 0 ;
}

.option {
    padding: 0 15px;
}

.option h4 {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    color: #000;
    margin-right: 10px;
    width: 65px;
}

.option .divider {
    color: #d3d3d3;
}

.option .quantityOption input {
    border: none;
    width: 30px;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.productDetail {
    text-align: center;
}


/* 추가 */
.productPictures {width: 55%; }
.productPictures .sub_img {padding: 0 15px; }
.productPictures .sub_img li + li {margin-left: 10px; }


.productSpec{width: 45%; }
.productSpec p + span:first-of-type {padding-left: 15px; }

.productPictures .sub_img {width: 100%; }

.nav-tabs {justify-content: center; }

@media (max-width: 1000px) {
    .productPictures .sub_img li img {width: 100%; }
    .productPictures .big_img {width: 100%; height: fit-content; }
}