.offcanvas-body {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .offcanvas-body .list-group {
    flex-grow: 1;
    overflow-y: auto;
  }

  .border.rounded.p-2.bg-secondary {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }